<div>
    <preview-window updated-route="workSpaceCtrl.updatedRoute" initial-route="workSpaceCtrl.initialRoute"></preview-window>
    <code-editor updated-route="workSpaceCtrl.updatedRoute" initial-route="workSpaceCtrl.initialRoute"></code-editor>
</div>