<div>
	<div ng-if="contentNavCtrl.listParse === 'site'">
		<ul>
			<li ng-repeat="item in contentNavCtrl.siteCollection">
				<a href="" ng-click="contentNavCtrl.boxClick(item.item_source)">{{item.item_name}}</a>
			</li>
		</ul>
	</div>
	<div ng-if="contentNavCtrl.listParse === 'page'">
		<ul>
			<li ng-repeat="item in contentNavCtrl.pageCollection">
				<a href="" ng-click="contentNavCtrl.boxClick(item.item_source)">{{item.item_name}}</a>
			</li>
		</ul>
	</div>
</div>