<div>
	<div>
		<div>
			<h2>User Login Goes here</h2>
		</div>
	</div>
	<div>
		<div>
			<button style="font-size:30px; padding:5px 10px 10px;" ng-click="homeCtrl.login()">Log In</button>
		</div>
	</div>
</div>